# Archivos y carpetas que no deben subirse a GitHub
.env
.env.*
*.log
logs/
node_modules/
dist/
build/
.next/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
tmp/
temp/
coverage/
pnpm-lock.yaml
package-lock.json
public/*.tmp
public/*.cache
sql/
vercel
out
*.tsbuildinfo
next-env.d.ts
.qodo
